<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	
	<link
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
		
	<script type="text/javascript" th:src="@{/js/dist/bundle.js}" src="/js/dist/bundle.js"></script>
	
	<title>RPC Demo Spring</title>
</head>
<body>

	<div class="container-fluid">
		<h1>RPC Demo Spring</h1>
		
		<input id="tbFirstName" type="text" placeholder="First name" value="Max"/>
		<input id="tbLastName" type="text" placeholder="Last name" value="Musternamm" style="margin-left: 5px"/> 
		<input id="tbAge" type="number" placeholder="Age" value="32" style="margin-left: 5px"/> 
		<br/><br/>
		<fieldset>
		    <input type="radio" id="rbSayHello1" name="rgSayHello" checked="checked"/>
		    <label for="rbSayHello1"> String sayHello(String name)</label> <br/>
		    <input type="radio" id="rbSayHello2" name="rgSayHello" />
		    <label for="rbSayHello2"> String sayHello(String firstName, String lastName)</label> <br/>
		    <input type="radio" id="rbSayHello3" name="rgSayHello" />
		    <label for="rbSayHello3"> String sayHello(String firstName, int age)</label> <br/>
		  </fieldset>
		
		
		<button onclick="rpc()">Start RPC Call</button> <br/><br/>
		Server response: <i id="lbResponse"></i>
	</div>

	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
			var receiver = {
				onSuccess: function(data) {
					console.log('Success', data);
					$('#lbResponse').text(data.result);
				}, 
				onFailure: function(error){
					console.log('Error', error);
				}
			};
			
			function rpc() {
				if($('#rbSayHello1').is(':checked')) {
					helloRpcService.sayHello($('#tbFirstName').val(), receiver);
				} else if($('#rbSayHello2').is(':checked')) {
					helloRpcService.sayHello($('#tbFirstName').val(), $('#tbLastName').val(), receiver);
				} else {
					helloRpcService.sayHello($('#tbFirstName').val(), parseInt($('#tbAge').val()), receiver);
				}
			}
		//]]>
	</script>

</body>
</html>